body, html {
    padding: 0;
    margin: 0;
    font-family: Varela, "Segoe UI", "Helvetica Neue", Arial;
}

.hUxctb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(68, 91, 161);
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hUxctb .title {
    -webkit-box-flex: 2;
    flex-grow: 2;
}

.hUxctb span {
    display: inline-block;
    margin: 0.4em 0px;
}

.hUxctb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(68, 91, 161);
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

div {
    display: block;
}

.kweIhM li {
    margin: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.kweIhM {
    font-size: 1.25em;
}

ul {
    list-style-type: disc;
}

.styled-div {
    padding: 5.7em 0 0.5em 0;
    margin: 0.25em;
    touch-action: manipulation;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-group {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0em 0.25em;
}
.card {
    width: 9em;
    margin: 0.25em;
    border: 1px solid #DCE7DC;
    border-radius: 10px;
    cursor: pointer;
    height: 7em;
    position: relative;
    font-size: 0.8em;
}
@media (max-width: 500px) {
    .card { font-size: 0.75em; }
}
@media (max-width: 370px) {
    .card { font-size: 0.70em; }
}
.selected {
    background-color: #F5F5F5;
}
.card span {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}
.checkbox {
    position: absolute;
    top: 0.5em;
    right: 0.25em;
    width: 1.75em;
}
.card .gender {
    top: auto;
    bottom: 0.5em;
}
.checked {
    display: none;
}
.selected .checked {
    display: inline;
}
.sprite {
    position: absolute;
    top: 1.25em;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    width: 6em;
}

.card img {
    max-width: 75px;
}